body {
}
.padding-top-table {
    padding-top: 24px;
}
.pointer {
    cursor:pointer;
}
.danger {
    color:red;
}
.status-message {
    margin-top: 30px;
}
.text-area {
    resize: none;
}
.row-count {
    display: unset;
    width: 120px;
    padding: 6px 1px;
}